<mat-card fxLayout="row" fxLayoutGap="70px">

  <!-- <mat-card class="info" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="50px">
      <img src="assets/images/user.jpg" fxLayout="column" class="margin" />
      <div fxLayout="column" fxLayoutAlign="start start">
        <span class="user-span">نام :</span>
        <span class="user-span">نام خانوادگی :</span>
        <span class="user-span">شماره پرسنلی :</span>
      </div>
      <div fxLayout="column" fxLayoutAlign="start start">
        <span class="user-span">بسمنلانستباتنا</span>
        <span class="user-span">نام خانوادگی </span>
        <span class="user-span">شماره پرسنلی </span>
      </div>
    </div>
  </mat-card> -->

  <div
    class="container"
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutWrap
    fxLayoutGap="0.5%"
    fxLayoutAlign="center"
  >

    <!-- <div fxFlex="20%">

     <dp-date-picker 
   dir="rtl"
   [(ngModel)]="selectedDate"
   mode="day"
   placeholder="تاریخ"
   theme="dp-material">
 </dp-date-picker>

    </div> -->


  </div>
</mat-card>
