.mdc-notched-outline--notched{
    --mdc-outlined-text-field-outline-width: 2px!important;
    --mdc-outlined-text-field-focus-outline-width: 3px!important;
    --mdc-outlined-text-field-container-shape: 4px;
}

.width{
    width: 150px !important;
}

.color{
    color:
    #e0eaffff
     !important;
}