<h1 mat-dialog-title>
  <!-- <mat-icon>info</mat-icon> -->
  {{data.title}}
</h1>
<!-- <h1 mat-dialog-title>{{data.title}}</h1> -->
<div mat-dialog-content>
  <div class="mat-h3">
    {{data.message}}
  </div>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="end baseline" fxLayoutGap="18px">
  <button mat-raised-button color="primary" class="btn-submit" (click)="onOkClick()" cdkFocusInitial>{{data.okCaption}}</button>
  <button mat-Stroked-button type="button" class="btn-cancel" (click)="onNoClick()">{{data.cancelCaption}}</button>
</div>