<div
  fxLayout="column"
  fxLayoutAlign="start stretch"
  fxLayoutGap="20px"
  class="margin-pading height90"
>
  <div
    fxLayout="column"
    fxLayoutAlign="start stretch"
    fxLayoutGap="15px"
    class="d-main"
  >
    <div class="title-style">
      <h2>مرخصی</h2>

      <div fxLayout="row" fxLayoutAlign="center center">
        <div fxLayout="row" fxLayoutAlign="center center">
          <input placeholder="جستجو" type="text" [(ngModel)]="search" />
          <button class="b-icon" (click)="searchFilter()">
            <mat-icon class="color-black">search</mat-icon>
          </button>
        </div>

        <span
          class="icon-container"
          fxLayout="row"
          fxLayoutAlign="center baseline"
        >
          <button class="b-icon">
            <mat-icon
              class="add-icon color-black"
              (mouseenter)="showAddText = true"
              (mouseleave)="showAddText = false"
              (click)="timeOffSubmit()"
              >add_circle</mat-icon
            >
          </button>
          <div
            [ngClass]="{ expanded: showAddText, collapsed: !showAddText }"
            class="lbl-div-anim z-2"
          >
            <label *ngIf="showAddText" class="animated-text z-1"
              >افزودن مرخصی</label
            >
          </div>
        </span>
      </div>
    </div>

    <div class="filter-div marg-top" fxLayout="row" fxLayoutAlign="start">
      <form class="z-2" [formGroup]="filterForm">
        <div
          fxLayout="row"
          fxLayoutGap="20px"
          class="container"
          [ngClass]="{ expanded: isExpanded, collapsed: !isExpanded }"
        >
          <button (click)="toggleExpansion()" class="but-icon icon-pad">
            <mat-icon class="icon-filter">filter_alt</mat-icon>
          </button>
          <div class="content" fxLayout="row" fxLayoutAlign="space-between">
            <div
              class="slf-center"
              fxLayoutGap="3vw"
              fxLayout="row"
              fxLayoutAlign="start stretch"
            >
              <mat-form-field appearance="fill" fxFlex="45" class="h-mff">
                <mat-select
                  formControlName="timeType"
                  class="fiter-select"
                  placeholder="نوع مرخصی "
                >
                  <mat-option
                    *ngFor="let timeType of timeTypes"
                    [value]="timeType.id"
                  >
                    {{ timeType.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill" fxFlex="45" class="h-mff">
                <mat-select
                  formControlName="type"
                  class="fiter-select"
                  placeholder="نوع مرخصی "
                >
                  <mat-option [value]="1">استحقاقی</mat-option>
                  <mat-option [value]="2">استعلاجی</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill" fxFlex="45" class="h-mff">
                <mat-select
                  formControlName="timeOffStatus"
                  class="fiter-select"
                  placeholder="وضعیت"
                >
                  <mat-option [value]="1"> در حال انتظار </mat-option>
                  <mat-option [value]="2">پذیرفته شده</mat-option>
                  <mat-option [value]="3">رد شده</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxLayout="column" fxLayoutAlign="center" class="di-h">
              <button (click)="closeDiv()" class="but-icon">
                <mat-icon class="color-black">search</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </form>

      <!-- *ngIf="filterChips?.length > 0" -->
      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start stretch">
        <mat-chip-listbox
          #chipGrid
          fxLayout="row"
          fxLayoutAlign="center center"
          *ngIf="filterChips?.length > 0"
        >
          <mat-chip
            *ngFor="let f of filterChips"
            (removed)="removeFilter(f.id)"
          >
            {{ f.name }}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
        </mat-chip-listbox>
      </div>
    </div>

    <div class="bac ht">
      <div
        fxLayout="column"
        fxLayoutAlign="start stretch"
        fxLayoutGap="10px"
        class="pad-rt-70"
      >
        <table
          #table
          mat-table
          matSort
          matSortDisableClear
          [dataSource]="dataSource"
          matSortActive="registerDate"
          matSortDirection="desc"
        >
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef class="b-b-s-n"></th>
            <td mat-cell *matCellDef="let element">
              <mat-icon [style.color]="getStatusColor(element.status)"
                >circle</mat-icon
              >
            </td>
          </ng-container>

          <ng-container matColumnDef="timeOffType">
            <th mat-header-cell *matHeaderCellDef>نوع</th>
            <td mat-cell *matCellDef="let element">
              <span class="th-radius-r">
                {{ element.type | timeOffType }}
              </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef>توضیحات</th>
            <td mat-cell *matCellDef="let element">
              <span>
                {{ element.details }}
              </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="timeType">
            <th mat-header-cell *matHeaderCellDef>نوع زمان</th>
            <td mat-cell *matCellDef="let element">
              <span>
                {{ element.timeType | timeType }}
              </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="fromDate">
            <th mat-header-cell *matHeaderCellDef>از تاریخ</th>
            <td mat-cell *matCellDef="let element">
              <span>
                {{ element.fromDate }}
              </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="toDate">
            <th mat-header-cell *matHeaderCellDef>تا تاریخ</th>
            <td mat-cell *matCellDef="let element">
              <span class="th-radius-l">
                {{ element.toDate }}
              </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <div
                fxLayout="row"
                fxLayoutAlign="end stretch"
                fxLayoutGap="10px"
              >
                <button
                  [disabled]="element.status != 1"
                  mat-icon-button
                  type="button"
                  matTooltip="ویرایش"
                  (click)="edit(element)"
                >
                  <mat-icon>edit</mat-icon>
                </button>

                <button
                  [disabled]="element.status != 1"
                  mat-icon-button
                  type="button"
                  matTooltip="حذف"
                  (click)="deleteDlg(element)"
                >
                  <mat-icon>delete</mat-icon>
                </button>

                <button
                  mat-icon-button
                  type="button"
                  matTooltip="جزئیات"
                  (click)="GetDetails(element)"
                >
                  <mat-icon>info</mat-icon>
                </button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator
          class="margin-pading"
          [length]="totalRecords"
          [pageSize]="8"
        ></mat-paginator>
      </div>
    </div>
  </div>
</div>
