.padding {
  padding: 5px;
  text-align: center;
  margin: 10px;
}

.person-card {
  margin: 5px;
  width: 97%;
  height: 50%;
  border-radius: 20px !important;
}

.emp-card {
  margin: 5px;
  width: 97%;
  height: auto;
  border-radius: 20px !important;
}

.user-card {
  margin: 5px;
  width: 97%;
  height: auto;
  border-radius: 20px !important;
}

.size {
  height: 50px;
  width: 100%;
}

.width{
  width: 435px!important;
}


.margin{
  margin-top: 30px;
}



.margin-l20{
  margin-left: 20px;

}

app-date-time-input{
  margin-top: 20px;
}

.marg-top-0{
margin-top: 0 !important;
}

.back{
  padding: 10px;
  border-radius: 10px;
  background-color: #e0eaff;
}

.marg-top-slct{
  margin-top: 30px;
}