
// mat-label{
//     background-color: #eeeeee !important;
// }

.flx{
    display: flex;
    align-content: center!important;
}

.grow{
    flex-grow: 2;
}

mat-hint{
    font-size: 13px;
    margin: 2px;
}

mat-form-field {
    margin-top: 10px;
}

