<!--<h1>مشاهده </h1>-->

<div *ngIf="sanitizedPdfBlobResourceUrl">
  <!--<h4>using iframe</h4>-->
  <iframe width="100%" height="600" [attr.src]="sanitizedPdfBlobResourceUrl" type="application/pdf"></iframe>
  
  <!--<h4>using object</h4>
  <object [attr.data]="sanitizedPdfBlobResourceUrl" type="application/pdf" width="100%"
          height="100%"></object>
  <h4>usin embed</h4>
  <embed [attr.src]="sanitizedPdfBlobResourceUrl" type="application/pdf" width="100%"
         height="100%">-->
</div>
